[submodule "Signal-Server"]
	path = Signal-Server
	url = https://github.com/duanwujie/Signal-Server.git
[submodule "Signal-Desktop"]
	path = Signal-Desktop
	url = https://github.com/duanwujie/Signal-Desktop.git
[submodule "Signal-iOS"]
	path = Signal-iOS
	url = https://github.com/duanwujie/Signal-iOS.git
[submodule "Cable-Server"]
	path = Cable-Server
	url = https://github.com/duanwujie/Cable-Server.git
[submodule "Cable-Android"]
	path = Cable-Android
	url = https://github.com/duanwujie/Cable-Android.git
[submodule "dropwizard"]
	path = dropwizard
	url = https://github.com/duanwujie/dropwizard.git
[submodule "ContactDiscoveryService"]
	path = ContactDiscoveryService
	url = https://github.com/duanwujie/ContactDiscoveryService.git
